<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Charts</title>
  </head>
  <body>
    <canvas id="schoolsvstuition" width="300px" height="150px"></canvas>
    <canvas id="schoolvsstudents" width="300" height="150"></canvas>
    <canvas id="schoolvsdateEnrolled" width="300" height="150"></canvas>
    <script src="../public/javascripts/jquery-3.3.1.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" charset="utf-8"></script>
    <script src="../public/javascripts/Chart.bundle.js" charset="utf-8"></script>
    <script src="../public/javascripts/main.js" charset="utf-8"></script>
  </body>
</html>
