doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/public/stylesheets/style.css')

  body
    block content
    
    script(src="path/to/local/fusioncharts.js")
    script(src="path/to/local/themes/fusioncharts.theme.fusion.js")
